<h1>Project#index</h1>
<p>Find me in app/views/project/index.html.erb</p>


<% @projects.each do |project| %>

<h3>
	<%= link_to "#{project.name}", category_project_path(project.category_id,project) %>
	<%#= project.name %>
</h3>
	<br>
<% end %>
