<h1>Category#show</h1>
<p>Find me in app/views/category/show.html.erb</p>
<div class="digg_pagination">
<%= will_paginate @projects, :container => false %>
</div>

<br>
<% @projects.each do |project| %>
<%= link_to "#{project.name}", category_project_path(@category, project) %>
<br>
<% end %>
