<h1>Category#show</h1>
<p>Find me in app/views/category/show.html.erb</p>


<% @category.projects.each do |project| %>
<%= link_to "#{project.name}", category_project_path(@category, project) %>
<% end %>
